/* --primary: rgba(255, 255, 255) white;
  --secondary: rgba(15, 15, 15, 0.9) black;
  --accent: rgba(230, 40, 40, 1) red;
  --king-blue: #78819e; gray*/


  * {
    box-sizing: border-box;
  }

.dashboard-inbox{
    
    max-width: 100%;
    padding: 21px 15px;
    text-align: center;
    margin-bottom: 8px;
    
    background-color: var(--secondary);

}

.dashboard-inbox-hr{max-width:90%;}

.dashboard-inbox-title{
    
    margin-left: 17px;
    font-size: x-large;
    /* text-shadow:  0 0 5px var(--secondary); */
    color: var(--primary);

}
.dashboard-inbox-wrapper{
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border:2px solid var(--accent);
    border-radius: 10px;
    margin: 2pc;
    box-shadow: 0px 0px 15px 0px rgba(10, 10, 10, 0.1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(10, 10, 10, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(10, 10, 10, 0.1);

}

  .dashboard-inbox-name{
    font-size: larger;
    color: var(--accent);
  } 
.dashboard-inbox-email{
    /* text-decoration-line: underline;
    color: blue; */
    margin: 0%;
}
.dashboard-inbox-date{
font-size: xx-small;
text-align: right;
margin-right: 20px;
}